<main>
    <div *ngIf="angularFireAuth.authState | async as user; else loggedOut">
        Logged in as <strong>{{user.email}}</strong>
        <button mat-stroked-button (click)="angularFireAuth.signOut()">Logout</button>
    </div>

    <ng-template #loggedOut>
        <h1>Login</h1>
        
        <button mat-raised-button appGoogleSignin>
            <img class="logo" src="../../../assets/Google_Logo.svg"/>
            Login with Google
        </button>

        <h5>OR</h5>

        <app-email-login></app-email-login>
    </ng-template>
</main>
